<footer class="footer">
  <div class="footer__wrapper">

    <div class="footer__content">
      <p><b>南京大学环境学院</b> / 江苏省南京市栖霞区仙林大道163号, 邮编 210023</p>
      <p><b>电话:</b><a href="tel:025-89680532"> 025-89680532</a> / <b>传真:</b><a href="tel:025-89680532"> 025-89680532</a></p>
      <p><b>Email: </b><a href="mailto:{{site.contact.email}}">{{site.contact.email}}</a></p>
      <p>© 2018 南京大学袁增伟教授课题组</p>
    </div>

    <ul class="social-icons social-icons--footer">

              <li class="social-icons__item">
          <a class="social-icons__link" href="{{site.contact.weixin}}">
            <img src="https://png.icons8.com/ios/24/000000/weixing-filled.png" width="24px" height="20px">
              <use xlink:href="#icon-wechat"></use>
            </svg>
          </a>
        </li>
              <li class="social-icons__item">
          <a class="social-icons__link" href="{{site.contact.weibo}}">
            <img src="https://png.icons8.com/ios/24/000000/weibo-filled.png" width="24px" height="20px">
              <use xlink:href="#icon-weibo"></use>
            </svg>
          </a><!--
          <a href="https://icons8.com">Icon pack by Icons8</a>-->
        </li>
        <li class="social-icons__item">
    <a class="social-icons__link" href="https://www.linkedin.com/in/%E5%AE%87%E6%98%9F-%E5%BB%96-88b1a0126/">
      <img src="https://png.icons8.com/ios/24/000000/linkedin-filled.png" width="24px" height="20px">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a><!--
    <a href="https://icons8.com">Icon pack by Icons8</a>-->
  </li>

    </ul>

  </div>
</footer>
