<!doctype html>
<!--[if IE 9]><html class="no-js ie9" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"><!--<![endif]-->

<head>
{% include head.html %}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3b0973e9f08a87c7e5cfccb5c8039cb6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body class="page-template-default page flex flex-column">

{% include navigation.html %}

<main class="main main--interior">
    <section class="research-intro" style="background-image: url('{{site.url}}/assets/img/platform.jpg');">
    <div class="wrapper wrapper--research wrapper--intro">
      <header class="research-intro__header transparent js-animate-fadeInOnScroll">
                  <h1 class="research-intro__heading">物质循环过程虚拟仿真实验</h1>
          <div class="divider divider--violet"><span></span></div>
                <p>开课时间：2018-09-17&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;学分：2&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;学时：36&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;负责人：袁增伟</p>
      </header>
              <div class="research-intro__circles">
          <svg class="research-intro__arrow research-intro__arrow--end transparent js-animate-fadeInOnScroll"
               version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 128.5 51.8">
            <polygon fill="#464646" points="-0.1,39.1 -0.1,26.1 -0.1,13.2 128.3,13.2 128.3,26.1 128.3,39.1 "/>
          </svg>
          <a class="btn  transparent js-animate-fadeInOnScroll" style="margin: 0 2rem;" data-fancybox data-type="iframe" data-src="https://mozilla.github.io/pdf.js/web/viewer.html" href="javascript:;">
              <span>实验手册</span>
          </a>
          <a class="btn  transparent js-animate-fadeInOnScroll" style="margin: 0 2rem;"
              href="{{site.url}}/envirlab-platform/login"
                            title="Start">
            <span>开始实验</span>
          </a>
          <a class="btn  transparent js-animate-fadeInOnScroll" style="margin: 0 2rem;"
              href="https://tongji.baidu.com/web/welcome/ico?s=3b0973e9f08a87c7e5cfccb5c8039cb6"
                            title="Visitor Analysis">
            <span>访客分析</span>
          </a>
          
          <svg class="research-intro__arrow research-intro__arrow--head transparent js-animate-fadeInOnScroll"
               version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 128.5 51.8">
            <polygon fill="#464646" points="0,38.9 0,25.9 0,13 102.5,13 102.5,0 128.5,25.9 102.5,51.8 102.5,38.9 "/>
          </svg>
        </div>
          </div>
  </section>
  <section class="research-photoredox research-section">
    <div class="wrapper wrapper--research wrapper--photoredox">
      <header class="research-photoredox__header transparent js-animate-fadeInOnScroll">
                  <h2 class="research-photoredox__heading">实验简介</h2>
          <div class="divider divider--research"><span></span></div>
              </header>

        <div class="research-photoredox__sliders-container transparent js-animate-fadeInOnScroll">

          <div class="js-research-photoredox-slider--image research-photoredox__slider--image">
            <div class="research-photoredox__slider-img-wrapper">

                <div class="research-photoredox__slide--img">
                  <div class="research-photoredox__slide-image" style="padding: 25px 0;">
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=b0700dfyzz1&auto=0" allowFullScreen="true" quality="high" width="650" height="400" align="middle"></embed>
                    <!-- <iframe frameborder="0" src="http://p71vl47v1.bkt.clouddn.com/%E5%8D%97%E4%BA%AC%E5%A4%A7%E5%AD%A6-%E7%89%A9%E8%B4%A8%E5%BE%AA%E7%8E%AF%E8%BF%87%E7%A8%8B%E8%99%9A%E6%8B%9F%E4%BB%BF%E7%9C%9F%E5%AE%9E%E9%AA%8C%E4%BB%8B%E7%BB%8D%E8%A7%86%E9%A2%91.mp4" allowFullScreen="true" width="650" height="400"></iframe> -->
                  </div>
                </div>
                          </div>
          </div>

          <div class="js-research-photoredox-slider--description research-photoredox__slider--description">
            <div class="research-photoredox__pagination"></div>
            <div class="research-photoredox__slider-desk-wrapper">


                <div class="research-photoredox__slide--desc">

                  <h3 class="research-photoredox__slide-title">实验来源</h3>
                  <p class="research-photoredox__slide-content">物质循环过程虚拟仿真实验，该实验教学项目的素材来源于2016年本团队发表在美国科学院院刊（Proceedings of the National Academy of Sciences of the United States of America，简称为PNAS，影响因子9.504）上的一篇题为“Intensification of phosphorus cycling in China since the 1600s”（中国17世纪以来磷循环不断被强化）的论文，该论文首次实现了长时序多阶段磷循环精细刻画，其方法已被广泛应用于指导国内外环境科学与工程专业物质循环方向的本科生和研究生教学与科研，得到了广泛认可。</p>

                                  </div>
            </div>
          </div>

        </div>
         <div class="research-photoredox-gallery__item-list js-research-photoredox-gallery-container">
{% for item in page.ini %}
          <div class="research-photoredox-gallery__item transparent js-animate-fadeInOnScroll">
            <a class="js-fancybox research-photoredox-gallery__item-link" href="{{ site.url }}/assets/img/platform/{{item.picurl}}" data-fancybox-group="gallery" title="{{item.picname}}">
              <div class="research-photoredox-gallery__item-image-wrap">
                <img class="otv" src="{{ site.url }}/assets/img/platform/{{item.picurl}}" alt="" />
                <div class="research-photoredox-gallery__hover-wrap" >
                  <span class="research-photoredox-gallery__item-title">{{item.picname}}</span>
                  <svg class="research-photoredox-gallery__zoom-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom"></use></svg>
                </div>
              </div>
            </a>
            <span class="research-photoredox-gallery__title">{{item.picname}}</span>
          </div>
{% endfor %}
        </div>



          </div>
  </section>
  <section class="research-organocatalysis">
    <div class="wrapper wrapper--research wrapper--organocatalysis">
      <header class="research-organocatalysis__header transparent js-animate-fadeInOnScroll">
                  <h2 class="research-organocatalysis__heading">实验原理</h2>
          <div class="divider divider--members"><span></span></div>
              </header>
      <div class="research-organocatalysis__desc" style="padding: 0rem 5rem;">
     
        <div class="research-organocatalysis__text  transparent js-animate-fadeInOnScroll" style="padding: 2rem 5rem 2rem 5rem!important; font-size: 1rem!important">
          <p>南京大学环境虚拟仿真实验平台目前已开发的核心建模模块包括：系统动力学模型（System Dynamics，简称为SD）和多主体模型（Agent-based Model，ABM）。这两类模块都是通用模块，能够解决不同学科的问题而不仅仅局限于环境科学与工程学科的范畴。在本实验项目中，主要利用其中的SD模块实现区域物质循环动态虚拟仿真。</p>
        </div>
        
      </div>
      <div class="research-organocatalysis__list row">
        {% for item in page.intro %}
                      <div class="research-organocatalysis__item transparent js-animate-fadeInOnScroll">
                        {% if item.modelurl %}
              <a class="research-organocatalysis__cta js-fancybox"
                  href="{{ site.url }}/assets/img/platform/{{item.picurl}}"
                  data-fancybox="images-preview"
                  data-caption="<h3>{{item.picname}}</h3><p>{{item.description}} </p><a href='{{ site.url }}/assets/img/platform/{{ item.modelurl}}' ><h4>下载模型</h4></a>">
                  {% else %}
              <a class="research-organocatalysis__cta js-fancybox"
                  href="{{ site.url }}/assets/img/platform/{{item.picurl}}"
                  data-fancybox="images-preview"
                  data-caption="<h3>{{item.picname}}</h3><p>{{item.description}}</p>">
                  {% endif %}
                <svg class="research-organocatalysis__item-zoom">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom"></use>
                </svg>
                <figure class="research-organocatalysis__thumb">
                  <img src="{{ site.url }}/assets/img/platform/{{item.picurl}}"
                  alt="">
                </figure>
                <div class="research-organocatalysis__overlay" style="padding: 20% 0;">
                  <span class="research-organocatalysis__overlay-text">{{item.picname}}</span>
                  <svg class="research-organocatalysis__overlay-zoom">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom"></use>
                  </svg>
                </div>
              </a>
           
              <span class="research-organocatalysis__item-title">{{item.picname}}</span>
            </div>
                      {% endfor %}
                    
                  
                  </div>

              
          </div>
  </section>
  <section class="research-synthesis research-section">
    <div class="wrapper wrapper--research wrapper--synthesis">
      <header class="research-synthesis__header">
                  <h2 class="research-synthesis__heading">相关材料</h2>
          <div class="divider divider--members"><span></span></div>
              </header>

<div class="research-synthesis__blocks">
{% for docs in site.research.doc %}
            <div class="research-synthesis__block">

              <div class="research-synthesis__block-links transparent js-animate-fadeInOnScroll">
                <h3 class="research-synthesis__block-heading">{{ docs.name }}</h3>
                   
                      <a class="research-synthesis__block-link" href="{{ site.url }}/assets/img/research/{{ docs.url }}" target="_blank">
                      <svg class="icon-doc"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-doc"></use></svg>
                      {{ docs.description }}</a>
                   

                              </div>
<!--
              <img class="research-synthesis__image-desktop transparent js-animate-fadeInOnScroll" src="{{ site.url }}/assets/img/research/iminium-1.svg" alt="">
              <img class="research-synthesis__image-mobile" src="{{ site.url }}/assets/img/research/iminium_mobile.svg" alt="">
-->
            </div>
{% endfor %}

                    <div class="clearfix"></div>
        </div>


          </div>
  </section>
  <section class="section-login" style="background-image: url('{{ site.url }}/assets/img/research/section-login-bg.jpg');">
    <header class="section-login__header transparent js-animate-fadeInOnScroll">
              <figure class="section-login__icon">
          <svg width="18px" height="24px">
            <use xlink:href="#icon-notepad"></use>
          </svg>
        </figure>
        <h2 class="section-login__heading">实验手册</h2>
          </header>
          <a class="btn  transparent js-animate-fadeInOnScroll" style="margin: 0 2rem;" data-fancybox data-type="iframe" data-src="https://mozilla.github.io/pdf.js/web/viewer.html" href="javascript:;">
            <span>获取</span>
          </a>

    </section>
    <!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC80MDQ5OC8xNzAyNQ==">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->

</main>
{% include footer.html %}


{% include scripts.html %}

</body>
</html>
